<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>840333503259-loqmfnu7btagfj8j2611fdq6ukjtdt5l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCeGsOXeebRZMj8K-QNRXJJq9CCWfpifvs</string>
	<key>GCM_SENDER_ID</key>
	<string>840333503259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatMessanger</string>
	<key>PROJECT_ID</key>
	<string>e-branch-804fb</string>
	<key>STORAGE_BUCKET</key>
	<string>e-branch-804fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840333503259:ios:d0829cb25cdda5e68501be</string>
</dict>
</plist>